@import "tailwindcss";

body {
  background-color: #f3f4f6; /* fallback light mode */
  color: #111827; /* fallback dark text */
}

.dark body {
  background-color: #111827;
  color: #f3f4f6;
}

input, button {
  color: inherit;
}
